body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.container-calculatrice{
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(228, 208, 246);
    width: 8rem;
}

.container-calculatrice input {
    box-sizing: border-box;
    margin: 0;
}

#plus, #moins, #fois, #divise, #egal, #reset {
    background-color: rgb(211, 206, 206);
}
